# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Dependencies
node_modules/
.pnp/
.pnp.js

# Testing
coverage/

# Production
build/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor-specific files
.vscode/
.idea/
.DS_Store

# Miscellaneous
.ipynb_checkpoints/
*.swp
*.swo

# React-specific
.eslintcache
.stylelintcache
.cache/

# MacOS system files
._*
